Repository opentensor/bittensor, pull requests merged in 2024-08, with the labels that each got.

#2210 Bringing `btsdk` up-to-date with `staging` branch.
  .github/auto_assign.yml
  bittensor/core/axon.py
  bittensor/core/stream.py
  bittensor/utils/btlogging/loggingmachine.py
  requirements/dev.txt
  requirements/prod.txt
  tests/unit_tests/test_axon.py
  tests/unit_tests/test_logging.py
Labels: enhancement, bittensor, do not merge

#2217 Add dendrite reference to backwords compatibility
  bittensor/utils/backwards_compatibility/__init__.py
Labels: bug, bittensor

#2218 Fix the usage of env vars in default settings.
  bittensor/core/settings.py
Labels: bug, bittensor

#2071 Child Hotkeys
  bittensor/__init__.py
  bittensor/cli.py
  bittensor/commands/__init__.py
  bittensor/commands/stake.py
  bittensor/commands/unstake.py
  bittensor/commands/weights.py
  bittensor/extrinsics/set_weights.py
  bittensor/extrinsics/staking.py
  bittensor/extrinsics/unstaking.py
  bittensor/subtensor.py
  bittensor/utils/formatting.py
  bittensor/utils/subtensor.py
  tests/e2e_tests/subcommands/stake/test_childkeys.py
  tests/e2e_tests/subcommands/stake/test_stake_add_remove.py
Labels: feature, bittensor

#2220 Updates after review session
  bittensor/__init__.py
  bittensor/core/settings.py
  bittensor/core/subtensor.py
  bittensor/utils/deprecated/__init__.py
  bittensor/utils/deprecated/extrinsics/__init__.py
  bittensor/utils/deprecated/extrinsics/prometheus.py
  bittensor/utils/deprecated/extrinsics/serving.py
  bittensor/utils/deprecated/extrinsics/set_weights.py
  bittensor/utils/deprecated/extrinsics/transfer.py
  bittensor/utils/subnets.py
  tests/unit_tests/extrinsics/test_prometheus.py
  tests/unit_tests/extrinsics/test_serving.py
  tests/unit_tests/extrinsics/test_set_weights.py
  tests/unit_tests/test_deprecated.py
Labels: enhancement, bittensor

#2225 Improve child hotkeys QOL
  bittensor/commands/stake.py
  bittensor/commands/unstake.py
  bittensor/subtensor.py
Labels: enhancement, bittensor

#2228 Enhance: Switch from format() to f-strings
  bittensor/core/axon.py
  bittensor/core/chain_data.py
  bittensor/core/config.py
  bittensor/core/dendrite.py
  bittensor/core/metagraph.py
  bittensor/core/subtensor.py
  bittensor/utils/__init__.py
  bittensor/utils/balance.py
  bittensor/utils/btlogging/format.py
  bittensor/utils/deprecated/extrinsics/prometheus.py
  bittensor/utils/deprecated/extrinsics/serving.py
  bittensor/utils/deprecated/extrinsics/set_weights.py
  bittensor/utils/deprecated/extrinsics/transfer.py
  bittensor/utils/networking.py
  bittensor/utils/version.py
  bittensor/utils/weight_utils.py
  tests/e2e_tests/utils/test_utils.py
  tests/unit_tests/test_dendrite.py
Labels: enhancement, bittensor

#2230 feat/roman/reafctoring-before-test-coverage
  bittensor/__init__.py
  bittensor/__main__.py
  bittensor/core/chain_data.py
  bittensor/core/config.py
  bittensor/core/settings.py
  bittensor/core/subtensor.py
  bittensor/core/tensor.py
  bittensor/core/threadpool.py
  bittensor/utils/__init__.py
  bittensor/utils/btlogging/format.py
  bittensor/utils/btlogging/loggingmachine.py
  bittensor/utils/deprecated/extrinsics/set_weights.py
  bittensor/utils/deprecated/extrinsics/transfer.py
  bittensor/utils/version.py
  requirements/prod.txt
Labels: enhancement, bittensor

#2243 Add `ShowSubnet` command
  bittensor/cli.py
  bittensor/commands/__init__.py
  bittensor/commands/subnets/show.py
Labels: bittensor, rao

#2245 Update Child Hotkey commands
  bittensor/commands/stake.py
  bittensor/extrinsics/staking.py
  bittensor/subtensor.py
  bittensor/utils/subtensor.py
  tests/e2e_tests/subcommands/stake/test_childkeys.py
Labels: enhancement, bittensor

#2252 Increase test coverage for subtensor.py
  bittensor/core/subtensor.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor, testing

#2246 Split the chain_data module into modules to simplify interaction
  bittensor/chain_data.py
  bittensor/chain_data/__init__.py
  bittensor/chain_data/axon_info.py
  bittensor/chain_data/delegate_info.py
  bittensor/chain_data/delegate_info_lite.py
  bittensor/chain_data/dynamic_info.py
  bittensor/chain_data/dynamic_pool.py
  bittensor/chain_data/dynamic_pool_info_v2.py
  bittensor/chain_data/ip_info.py
  bittensor/chain_data/neuron_info.py
  bittensor/chain_data/neuron_info_lite.py
  bittensor/chain_data/prometheus_info.py
  bittensor/chain_data/proposal_vote_data.py
  bittensor/chain_data/scheduled_coldkey_swap_info.py
  bittensor/chain_data/stake_info.py
  bittensor/chain_data/subnet_hyperparameters.py
  bittensor/chain_data/subnet_info.py
  bittensor/chain_data/subnet_info_v2.py
  bittensor/chain_data/subnet_state.py
  bittensor/chain_data/substake_elements.py
  bittensor/chain_data/utils.py
  bittensor/commands/subnets/show.py
  bittensor/commands/wallet/history.py
  bittensor/commands/wallet/new_coldkey.py
  bittensor/subtensor.py
  tests/unit_tests/test_chain_data.py
Labels: bittensor, rao

#2257 Increase SDK test coverage (Part3)
  tests/unit_tests/test_subtensor.py
Labels: bittensor, testing

#2264 Decoupling chain_data.py to sub-package
  bittensor/core/chain_data.py
  bittensor/core/chain_data/__init__.py
  bittensor/core/chain_data/axon_info.py
  bittensor/core/chain_data/delegate_info.py
  bittensor/core/chain_data/delegate_info_lite.py
  bittensor/core/chain_data/ip_info.py
  bittensor/core/chain_data/neuron_info.py
  bittensor/core/chain_data/neuron_info_lite.py
  bittensor/core/chain_data/prometheus_info.py
  bittensor/core/chain_data/proposal_vote_data.py
  bittensor/core/chain_data/scheduled_coldkey_swap_info.py
  bittensor/core/chain_data/stake_info.py
  bittensor/core/chain_data/subnet_hyperparameters.py
  bittensor/core/chain_data/subnet_info.py
  bittensor/core/chain_data/utils.py
  bittensor/core/config.py
  bittensor/utils/networking.py
  tests/unit_tests/test_chain_data.py
Labels: enhancement, bittensor

#2266 Prod requirements cleanup
  requirements/prod.txt
Labels: enhancement, bittensor

#2269 Add substrate reconnection logic
  bittensor/core/settings.py
  bittensor/core/subtensor.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor, testing

#2251 Child Hotkey refactor
  bittensor/cli.py
  bittensor/commands/__init__.py
  bittensor/commands/stake.py
  bittensor/commands/unstake.py
  bittensor/extrinsics/staking.py
  bittensor/subtensor.py
  bittensor/utils/formatting.py
  bittensor/utils/subtensor.py
  tests/e2e_tests/conftest.py
  tests/e2e_tests/subcommands/stake/test_childkeys.py
  tests/unit_tests/test_subtensor.py
Labels: enhancement, bittensor, refactoring

#2278 Move extrinsics, update `deprecated.py` module.
  bittensor/core/extrinsics/__init__.py
  bittensor/core/extrinsics/commit_weights.py
  bittensor/core/extrinsics/prometheus.py
  bittensor/core/extrinsics/serving.py
  bittensor/core/extrinsics/set_weights.py
  bittensor/core/extrinsics/transfer.py
  bittensor/core/subtensor.py
  bittensor/utils/deprecated.py
  tests/unit_tests/extrinsics/test_prometheus.py
  tests/unit_tests/extrinsics/test_serving.py
  tests/unit_tests/extrinsics/test_set_weights.py
  tests/unit_tests/test_deprecated.py
Labels: enhancement, bittensor
