Repository opentensor/bittensor, pull requests merged in 2024-06, with the labels that each got.

#1980 A wrapper for presenting extrinsics errors in a human-readable form.
  .circleci/config.yml
  bittensor/extrinsics/commit_weights.py
  bittensor/extrinsics/delegation.py
  bittensor/extrinsics/network.py
  bittensor/extrinsics/prometheus.py
  bittensor/extrinsics/registration.py
  bittensor/extrinsics/root.py
  bittensor/extrinsics/senate.py
  bittensor/extrinsics/serving.py
  bittensor/extrinsics/set_weights.py
  bittensor/extrinsics/staking.py
  bittensor/extrinsics/transfer.py
  bittensor/extrinsics/unstaking.py
  bittensor/subtensor.py
  bittensor/utils/__init__.py
  tests/unit_tests/extrinsics/test_init.py
  tests/unit_tests/extrinsics/test_registration.py
  tests/unit_tests/extrinsics/test_serving.py
Labels: feature, bittensor

#1984 Add e2e test for axon
  .github/workflows/e2e-subtensor-tests.yaml
  requirements/dev.txt
  tests/e2e_tests/conftest.py
  tests/e2e_tests/multistep/test_axon.py
  tests/e2e_tests/multistep/test_last_tx_block.py
  tests/e2e_tests/subcommands/delegation/test_set_delegate_take.py
  tests/e2e_tests/subcommands/wallet/test_transfer.py
  tests/e2e_tests/subcommands/weights/test_commit_weights.py
  tests/e2e_tests/utils.py
  tests/unit_tests/test_dendrite.py
Labels: enhancement, testing

#1988 Dendrite E2E test
  tests/e2e_tests/multistep/test_dendrite.py
Labels: bittensor, testing

#1989 Async Subtensor implementation + async substrain
  .circleci/config.yml
  bittensor/__init__.py
  bittensor/axon.py
  bittensor/chain_data.py
  bittensor/commands/delegates.py
  bittensor/commands/inspect.py
  bittensor/commands/metagraph.py
  bittensor/commands/overview.py
  bittensor/commands/root.py
  bittensor/commands/senate.py
  bittensor/commands/stake.py
  bittensor/commands/weights.py
  bittensor/examples/async_subtensor_examples.py
  bittensor/examples/multiples.py
  bittensor/extrinsics/commit_weights.py
  bittensor/metagraph.py
  bittensor/mock/subtensor_mock.py
  bittensor/subtensor.py
  bittensor/utils/__init__.py
  bittensor/utils/async_substrate.py
  bittensor/utils/networking.py
  bittensor/wallet.py
  contrib/CONTRIBUTING.md
  contrib/STYLE.md
  requirements/dev.txt
  requirements/prod.txt
  scripts/check_pre_submit.sh
  scripts/environments/apple_m1_environment.yml
  tests/e2e_tests/subcommands/weights/test_commit_weights.py
  tests/integration_tests/test_cli.py
  tests/unit_tests/extrinsics/test_registration.py
  tests/unit_tests/extrinsics/test_root.py
  tests/unit_tests/extrinsics/test_senate.py
  tests/unit_tests/extrinsics/test_staking.py
  tests/unit_tests/extrinsics/test_unstaking.py
  tests/unit_tests/test_subtensor.py
  tests/unit_tests/test_synapse.py
  tests/unit_tests/utils/test_balance.py
Labels: feature, beginner

#1992 Additional fixes for subtensor and async_substrate modules.
  bittensor/subtensor.py
  bittensor/utils/async_substrate.py
Labels: feature, bittensor

#1991 Extrinsics async (part 1)
  bittensor/extrinsics/commit_weights.py
  bittensor/extrinsics/delegation.py
  bittensor/mock/subtensor_mock.py
  bittensor/subtensor.py
  tests/integration_tests/test_subtensor_integration.py
  tests/unit_tests/extrinsics/test_delegation.py
Labels: feature, bittensor

#1995 Async for `bittensor/extrinsics/network.py`
  bittensor/extrinsics/network.py
  bittensor/subtensor.py
  bittensor/utils/async_substrate.py
Labels: feature, beginner

#1996 Async for `bittensor/extrinsics/registration.py`
  bittensor/chain_data.py
  bittensor/extrinsics/delegation.py
  bittensor/extrinsics/prometheus.py
  bittensor/extrinsics/registration.py
  bittensor/extrinsics/root.py
  bittensor/extrinsics/serving.py
  bittensor/extrinsics/set_weights.py
  bittensor/extrinsics/staking.py
  bittensor/extrinsics/transfer.py
  bittensor/extrinsics/unstaking.py
  bittensor/mock/subtensor_mock.py
  bittensor/subtensor.py
  bittensor/utils/networking.py
  bittensor/utils/registration.py
  tests/integration_tests/test_subtensor_integration.py
  tests/unit_tests/extrinsics/test_registration.py
Labels: feature, bittensor

#2002 Test Incentive E2E
  tests/e2e_tests/multistep/test_axon.py
  tests/e2e_tests/multistep/test_dendrite.py
  tests/e2e_tests/multistep/test_incentive.py
  tests/e2e_tests/subcommands/weights/test_commit_weights.py
Labels: enhancement, bittensor, testing

#1987 Add E2E faucet test
  tests/e2e_tests/conftest.py
  tests/e2e_tests/subcommands/wallet/test_faucet.py
  tests/e2e_tests/utils.py
Labels: testing

#2000 Asyc `bittensor/extrinsics` (part 4)
  bittensor/axon.py
  bittensor/extrinsics/root.py
  bittensor/extrinsics/senate.py
  bittensor/extrinsics/serving.py
  bittensor/extrinsics/set_weights.py
  bittensor/mock/subtensor_mock.py
  bittensor/subtensor.py
  tests/integration_tests/test_subtensor_integration.py
  tests/unit_tests/extrinsics/test_root.py
  tests/unit_tests/extrinsics/test_set_weights.py
Labels: feature, bittensor, async migration

#2003 [hotfix] commit_reveal_weights_enabled argument parsing
  CHANGELOG.md
  VERSION
  bittensor/__init__.py
  bittensor/commands/network.py
  tests/integration_tests/test_cli_no_network.py
Labels: bug, bittensor

#2016 [Fix] Allow unstake below network min
  bittensor/extrinsics/registration.py
  bittensor/extrinsics/staking.py
  bittensor/extrinsics/unstaking.py
  tests/e2e_tests/multistep/test_dendrite.py
  tests/e2e_tests/multistep/test_incentive.py
  tests/e2e_tests/subcommands/weights/test_commit_weights.py
  tests/integration_tests/test_cli.py
  tests/unit_tests/extrinsics/test_staking.py
  tests/unit_tests/extrinsics/test_unstaking.py
Labels: bug, bittensor

#2019 ruff compliance fixes after PRs: 2001, 2011, and 1958
  bittensor/extrinsics/staking.py
  bittensor/extrinsics/transfer.py
  bittensor/extrinsics/unstaking.py
  bittensor/mock/subtensor_mock.py
  bittensor/subtensor.py
  bittensor/utils/__init__.py
  bittensor/utils/async_substrate.py
  tests/integration_tests/test_subtensor_integration.py
  tests/unit_tests/extrinsics/test_unstaking.py
Labels: bittensor, refactoring

#2025 Async and high-level refactoring for `bittensor/utils` module.
  bittensor/__init__.py
  bittensor/chain_data.py
  bittensor/mock/subtensor_mock.py
  bittensor/subtensor.py
  bittensor/synapse.py
  bittensor/utils/__init__.py
  bittensor/utils/_register_cuda.py
  bittensor/utils/balance.py
  bittensor/utils/formatting.py
  bittensor/utils/networking.py
  bittensor/utils/registration.py
  bittensor/utils/subtensor.py
  bittensor/utils/test_utils.py
  tests/unit_tests/test_subtensor.py
  tests/unit_tests/utils/test_subtensor.py
Labels: bittensor, async migration

#2033 Async for `test_subtensor.py`, fix bugs, replacement `retry.retry` to `tenacity.retry`
  bittensor/subtensor.py
  requirements/dev.txt
  requirements/prod.txt
  tests/unit_tests/test_subtensor.py
Labels: bittensor, testing, async migration

#2038 Async fir for `test/unit_tests/extrinsics/[:-3]`
  bittensor/extrinsics/delegation.py
  requirements/dev.txt
  tests/unit_tests/extrinsics/test_delegation.py
  tests/unit_tests/extrinsics/test_network.py
  tests/unit_tests/extrinsics/test_prometheus.py
  tests/unit_tests/extrinsics/test_registration.py
  tests/unit_tests/extrinsics/test_root.py
  tests/unit_tests/extrinsics/test_senate.py
  tests/unit_tests/extrinsics/test_serving.py
Labels: bittensor, async migration

#2040 Async fix for entire `tests/unit_tests/` dirrectory
  tests/unit_tests/test_metagraph.py
  tests/unit_tests/utils/test_registration.py
Labels: bittensor, async migration

#2042 Async tests fix for `tests/integration_tests` directory + e2e tests commented
  bittensor/mock/subtensor_mock.py
  tests/e2e_tests/multistep/test_last_tx_block.py
  tests/e2e_tests/subcommands/delegation/test_set_delegate_take.py
  tests/e2e_tests/subcommands/wallet/test_transfer.py
  tests/e2e_tests/subcommands/weights/test_commit_weights.py
  tests/integration_tests/test_cli.py
  tests/integration_tests/test_cli_no_network.py
  tests/integration_tests/test_subtensor_integration.py
Labels: bittensor, async migration

#2044 Test hot key Swap
  bittensor/commands/list.py
  bittensor/commands/register.py
  tests/e2e_tests/subcommands/register/__init__.py
  tests/e2e_tests/subcommands/register/tests_swap_hotkey_miner.py
  tests/e2e_tests/subcommands/register/tests_swap_hotkey_validator_owner.py
  tests/e2e_tests/utils.py
Labels: enhancement, bittensor, testing

#2055 Async for `commands`, `cli`, `btcli`
  bin/btcli
  bittensor/__init__.py
  bittensor/cli.py
  bittensor/commands/__init__.py
  bittensor/commands/delegates.py
  bittensor/commands/identity.py
  bittensor/commands/inspect.py
  bittensor/commands/list.py
  bittensor/commands/metagraph.py
  bittensor/commands/misc.py
  bittensor/commands/network.py
  bittensor/commands/overview.py
  bittensor/commands/register.py
  bittensor/commands/root.py
  bittensor/commands/senate.py
  bittensor/commands/stake.py
  bittensor/commands/transfer.py
  bittensor/commands/unstake.py
  bittensor/commands/utils.py
  bittensor/commands/wallets.py
  bittensor/commands/weights.py
  bittensor/extrinsics/delegation.py
  bittensor/extrinsics/root.py
  bittensor/extrinsics/set_weights.py
  bittensor/subtensor.py
  tests/e2e_tests/subcommands/wallet/test_wallet.py
  tests/e2e_tests/utils.py
  tests/integration_tests/test_cli.py
  tests/integration_tests/test_cli_no_network.py
  tests/integration_tests/test_subtensor_integration.py
  tests/test_substrate/test_create_extrinsics.py
  tests/unit_tests/test_overview.py
Labels: bittensor, async migration

#2059 async retry reraise logic
  bittensor/subtensor.py
Labels: async migration

#2060 Async RPC Request documentation on block hashes
  bittensor/utils/async_substrate.py
Labels: async migration

#2056 Enable Faucet Test
  tests/e2e_tests/subcommands/wallet/test_faucet.py
Labels: technical debt, task, testing

#2062 Fixes of async implemetations, tests, bugs
  bittensor/btlogging/defines.py
  bittensor/btlogging/loggingmachine.py
  bittensor/commands/delegates.py
  bittensor/commands/metagraph.py
  bittensor/commands/network.py
  bittensor/commands/root.py
  bittensor/commands/unstake.py
  bittensor/commands/weights.py
  bittensor/extrinsics/commit_weights.py
  bittensor/extrinsics/delegation.py
  bittensor/extrinsics/network.py
  bittensor/extrinsics/senate.py
  bittensor/extrinsics/unstaking.py
  bittensor/mock/subtensor_mock.py
  bittensor/mock/wallet_mock.py
  bittensor/subtensor.py
  bittensor/utils/registration.py
  bittensor/wallet.py
  tests/e2e_tests/utils.py
  tests/integration_tests/test_cli.py
  tests/integration_tests/test_cli_no_network.py
  tests/integration_tests/test_metagraph_integration.py
  tests/integration_tests/test_subtensor_integration.py
  tests/test_substrate/test_create_extrinsics.py
  tests/unit_tests/extrinsics/test_senate.py
  tests/unit_tests/test_axon.py
Labels: bittensor, testing, async migration

#2068 Update the handling of subscriptions for async_substrate.py
  bittensor/utils/async_substrate.py
Labels: async migration

#2064 [WIP] Async substrate additional
  bittensor/utils/async_substrate.py
  tests/test_substrate/test_create_extrinsics.py
  tests/unit_tests/test_metagraph.py
Labels: do not merge, async migration

#2036 Test Emissions E2E
  .github/workflows/e2e-subtensor-tests.yaml
  tests/e2e_tests/multistep/test_axon.py
  tests/e2e_tests/multistep/test_dendrite.py
  tests/e2e_tests/multistep/test_emissions.py
  tests/e2e_tests/multistep/test_incentive.py
  tests/e2e_tests/subcommands/register/tests_swap_hotkey.py
  tests/e2e_tests/subcommands/register/tests_swap_hotkey_miner.py
  tests/e2e_tests/subcommands/wallet/test_faucet.py
  tests/e2e_tests/subcommands/weights/test_commit_weights.py
  tests/e2e_tests/utils.py
Labels: feature, technical debt, testing

#2070 Add backward compatibility for `AsyncSubstrateInterface` as it was in the original `SubstrateInterface`
  bittensor/subtensor.py
  bittensor/utils/async_substrate.py
  tests/e2e_tests/utils.py
  tests/test_substrate/test_create_extrinsics.py
  tests/test_substrate/test_query.py
  tests/test_substrate/test_runtime_call.py
  tests/test_substrate/test_subscriptions.py
Labels: feature, bittensor, async migration

#2074 Test e2e small fix
  bittensor/subtensor.py
  bittensor/utils/async_substrate.py
  tests/e2e_tests/multistep/test_axon.py
  tests/e2e_tests/multistep/test_dendrite.py
  tests/e2e_tests/multistep/test_incentive.py
  tests/e2e_tests/multistep/test_last_tx_block.py
  tests/e2e_tests/utils.py
Labels: bittensor, async migration

#2078 Huge async tests, and related code fixes
  bittensor/commands/delegates.py
  bittensor/commands/overview.py
  bittensor/commands/weights.py
  bittensor/metagraph.py
  bittensor/subtensor.py
  tests/e2e_tests/multistep/test_axon.py
  tests/e2e_tests/multistep/test_dendrite.py
  tests/e2e_tests/multistep/test_incentive.py
  tests/e2e_tests/multistep/test_last_tx_block.py
  tests/e2e_tests/subcommands/delegation/test_set_delegate_take.py
  tests/e2e_tests/subcommands/root/test_root_delegate_list.py
  tests/e2e_tests/subcommands/root/test_root_register_add_member_senate.py
  tests/e2e_tests/subcommands/root/test_root_senate_vote.py
  tests/e2e_tests/subcommands/root/test_root_view_proposal.py
  tests/e2e_tests/subcommands/stake/test_stake_add_remove.py
  tests/e2e_tests/subcommands/stake/test_stake_show.py
  tests/e2e_tests/subcommands/wallet/test_transfer.py
  tests/e2e_tests/subcommands/wallet/test_wallet.py
  tests/e2e_tests/subcommands/weights/test_commit_weights.py
  tests/integration_tests/test_cli.py
  tests/integration_tests/test_cli_no_network.py
  tests/integration_tests/test_subtensor_integration.py
  tests/test_substrate/test_create_extrinsics.py
  tests/unit_tests/test_subtensor.py
Labels: bug, bittensor, testing, async migration

#2077 Fix e2e to only run when PR is ready for review
  .github/workflows/e2e-subtensor-tests.yaml
Labels: bug, bittensor
