Repository opentensor/bittensor, pull requests merged in 2024-11, with the labels that each got.

#2378 remove unused prometheus extrinsic
  bittensor/core/extrinsics/prometheus.py
  bittensor/core/subtensor.py
  tests/unit_tests/extrinsics/test_prometheus.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor

#2377 Replace rich.console to btlogging.loggin
  bittensor/core/extrinsics/registration.py
  bittensor/core/extrinsics/root.py
  bittensor/core/extrinsics/serving.py
  bittensor/core/extrinsics/set_weights.py
  bittensor/core/extrinsics/transfer.py
  bittensor/core/metagraph.py
  bittensor/core/settings.py
  bittensor/core/subtensor.py
  bittensor/utils/btlogging/format.py
  bittensor/utils/btlogging/loggingmachine.py
  bittensor/utils/registration.py
  requirements/prod.txt
  scripts/environments/apple_m1_environment.yml
  tests/helpers/__init__.py
  tests/helpers/helpers.py
  tests/integration_tests/test_subtensor_integration.py
Labels: bittensor

#2374 SDK (AsyncSubtensor) Part 1
  bittensor/core/async_subtensor.py
  bittensor/core/chain_data/__init__.py
  bittensor/core/extrinsics/async_registration.py
  bittensor/core/extrinsics/async_root.py
  bittensor/core/extrinsics/async_transfer.py
  bittensor/core/extrinsics/commit_weights.py
  bittensor/core/extrinsics/registration.py
  bittensor/core/extrinsics/root.py
  bittensor/core/extrinsics/serving.py
  bittensor/core/extrinsics/set_weights.py
  bittensor/core/extrinsics/transfer.py
  bittensor/core/settings.py
  bittensor/core/subtensor.py
  bittensor/utils/__init__.py
  bittensor/utils/async_substrate_interface.py
  bittensor/utils/delegates_details.py
  bittensor/utils/deprecated.py
  requirements/prod.txt
  tests/e2e_tests/conftest.py
  tests/e2e_tests/test_axon.py
  tests/e2e_tests/test_commit_weights.py
  tests/e2e_tests/test_dendrite.py
  tests/e2e_tests/test_liquid_alpha.py
  tests/e2e_tests/test_metagraph.py
  tests/e2e_tests/test_subtensor_functions.py
  tests/e2e_tests/utils/chain_interactions.py
  tests/unit_tests/extrinsics/test_init.py
Labels: bittensor, async migration

#2380 SDK (AsyncSubtensor) Part 2
  bittensor/core/async_subtensor.py
  bittensor/core/extrinsics/async_root.py
  bittensor/core/extrinsics/async_weights.py
  bittensor/core/extrinsics/prometheus.py
  bittensor/core/extrinsics/set_weights.py
  bittensor/core/settings.py
  tests/unit_tests/extrinsics/test_set_weights.py
Labels: bittensor, async migration

#2382 Avoid using `prompt` in SDK
  bittensor/core/async_subtensor.py
  bittensor/core/config.py
  bittensor/core/extrinsics/async_registration.py
  bittensor/core/extrinsics/async_root.py
  bittensor/core/extrinsics/async_transfer.py
  bittensor/core/extrinsics/async_weights.py
  bittensor/core/extrinsics/commit_weights.py
  bittensor/core/extrinsics/registration.py
  bittensor/core/extrinsics/root.py
  bittensor/core/extrinsics/serving.py
  bittensor/core/extrinsics/set_weights.py
  bittensor/core/extrinsics/transfer.py
  bittensor/core/subtensor.py
  tests/e2e_tests/test_axon.py
  tests/e2e_tests/test_commit_weights.py
  tests/e2e_tests/test_dendrite.py
  tests/e2e_tests/test_incentive.py
  tests/e2e_tests/test_subtensor_functions.py
  tests/e2e_tests/test_transfer.py
  tests/unit_tests/extrinsics/test_registration.py
  tests/unit_tests/extrinsics/test_root.py
  tests/unit_tests/extrinsics/test_serving.py
  tests/unit_tests/extrinsics/test_set_weights.py
  tests/unit_tests/test_subtensor.py
Labels: enhancement, bittensor

#2392 Remove `retry` and fix tests
  bittensor/core/extrinsics/commit_weights.py
  bittensor/core/extrinsics/registration.py
  bittensor/core/extrinsics/root.py
  bittensor/core/extrinsics/serving.py
  bittensor/core/extrinsics/set_weights.py
  bittensor/core/extrinsics/transfer.py
  bittensor/core/subtensor.py
  bittensor/utils/registration.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor

#2395 Add `subvortex` subnet and tests
  bittensor/core/settings.py
  bittensor/core/subtensor.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor

#2398 [Tests] AsyncSubtensor (Part 1)
  bittensor/core/async_subtensor.py
  bittensor/core/subtensor.py
  tests/unit_tests/test_async_subtensor.py
Labels: bittensor, testing, async migration

#2403 `Reconnection substrate...` as debug
  bittensor/utils/networking.py
Labels: enhancement, bittensor

#2404 Handles websockets v14+ in async
  bittensor/utils/async_substrate_interface.py
  requirements/prod.txt
Labels: bug

#2407 [Tests] AsyncSubtensor (Part 2)
  bittensor/core/async_subtensor.py
  bittensor/utils/async_substrate_interface.py
  tests/unit_tests/test_async_subtensor.py
Labels: bittensor, testing, async migration

#2406 Handle new PasswordError from btwallet
  bittensor/core/extrinsics/async_registration.py
  bittensor/core/extrinsics/async_root.py
  bittensor/core/extrinsics/async_transfer.py
  bittensor/core/extrinsics/registration.py
  bittensor/core/extrinsics/root.py
  bittensor/core/extrinsics/serving.py
  bittensor/core/extrinsics/transfer.py
  bittensor/utils/__init__.py
  requirements/prod.txt
  tests/integration_tests/utils/test_init.py
  tests/unit_tests/utils/test_utils.py
Labels: do not merge

#2410 [Tests] AsyncSubtensor (Part 4)
  bittensor/core/async_subtensor.py
  tests/unit_tests/test_async_subtensor.py
Labels: bittensor, testing, async migration

#2412 Bringing back lost methods for setting weights
  bittensor/core/async_subtensor.py
  bittensor/core/extrinsics/async_transfer.py
  bittensor/utils/__init__.py
  bittensor/utils/balance.py
Labels: bittensor

#2414 [Tests] AsyncSubtensor (Part 6)
  tests/unit_tests/test_async_subtensor.py
Labels: bittensor, testing, async migration

#2418 [Tests] AsyncSubtensor (Part 7: The final race)
  bittensor/core/async_subtensor.py
  tests/unit_tests/test_async_subtensor.py
Labels: bittensor, testing, async migration

#2425 Async unittests for `bittensor/core/extrinsics/async_weights.py`
  tests/unit_tests/extrinsics/test_async_weights.py
Labels: bittensor, testing, async migration

#2426 Async unittests for `bittensor/core/extrinsics/async_transfer.py`
  bittensor/core/extrinsics/async_transfer.py
  tests/unit_tests/extrinsics/test_async_transfer.py
Labels: bittensor, testing, async migration

#2427 Async `unittests for bittensor/core/extrinsics/async_root.py`
  bittensor/core/extrinsics/async_root.py
  tests/unit_tests/extrinsics/test_async_root.py
Labels: bittensor, testing, async migration

#2439 [SDK] Registration related content refactoring
  bittensor/core/async_subtensor.py
  bittensor/core/extrinsics/async_registration.py
  bittensor/core/extrinsics/registration.py
  bittensor/core/subtensor.py
  bittensor/utils/registration.py
  bittensor/utils/registration/__init__.py
  bittensor/utils/registration/async_pow.py
  bittensor/utils/registration/pow.py
  bittensor/utils/registration/register_cuda.py
  tests/unit_tests/extrinsics/test__init__.py
  tests/unit_tests/extrinsics/test_registration.py
  tests/unit_tests/test_async_subtensor.py
  tests/unit_tests/utils/test_init.py
  tests/unit_tests/utils/test_registration.py
  tests/unit_tests/utils/test_utils.py
Labels: bittensor, conflict, testing, async migration

#2445 Async unittests for `bittensor/core/extrinsics/async_registration.py`
  bittensor/core/extrinsics/async_registration.py
  bittensor/core/extrinsics/registration.py
  tests/unit_tests/extrinsics/test_async_registration.py
Labels: bittensor, testing, async migration

#2446 BittensorConsole class
  bittensor/core/async_subtensor.py
  bittensor/core/extrinsics/async_registration.py
  bittensor/core/extrinsics/async_root.py
  bittensor/core/extrinsics/async_transfer.py
  bittensor/core/extrinsics/async_weights.py
  bittensor/core/extrinsics/registration.py
  bittensor/core/extrinsics/root.py
  bittensor/core/extrinsics/serving.py
  bittensor/core/extrinsics/set_weights.py
  bittensor/core/extrinsics/transfer.py
  bittensor/core/subtensor.py
  bittensor/utils/__init__.py
  bittensor/utils/balance.py
  bittensor/utils/btlogging/console.py
  bittensor/utils/btlogging/format.py
  bittensor/utils/btlogging/loggingmachine.py
Labels: enhancement, feature, bittensor

#2442 Improve reconnection logic
  bittensor/core/extrinsics/registration.py
  bittensor/core/subtensor.py
  bittensor/utils/networking.py
  requirements/prod.txt
Labels: bug, bittensor

#2458 Tests for subtensor methods related with `stake` and `unstake` extrinsics
  bittensor/core/subtensor.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor, do not merge, testing

#2452 Apply BittensorConsole + logging refactoring
  bittensor/core/extrinsics/async_registration.py
  bittensor/utils/networking.py
  tests/e2e_tests/test_dendrite.py
  tests/e2e_tests/test_liquid_alpha.py
  tests/e2e_tests/test_metagraph.py
  tests/unit_tests/test_subtensor.py
Labels: enhancement, bittensor

#2456 Add staking and unstaking extrinsics
  bittensor/core/async_subtensor.py
  bittensor/core/extrinsics/staking.py
  bittensor/core/extrinsics/unstaking.py
  bittensor/core/subtensor.py
  bittensor/utils/btlogging/format.py
  tests/unit_tests/test_subtensor.py
Labels: enhancement, bittensor

#2477 Fixes logging when passing multiple objects
  bittensor/utils/btlogging/loggingmachine.py
Labels: bug

#2474 Add script for solving ssl issue
  bittensor/__main__.py
  bittensor/core/subtensor.py
  bittensor/utils/certifi.sh
  setup.py
Labels: enhancement, bittensor

#2486 Update `ensure_connected` for websockets
  bittensor/core/subtensor.py
  bittensor/utils/networking.py
  tests/helpers/helpers.py
Labels: bug
