Repository opentensor/bittensor, pull requests merged in 2024-07, with the labels that each got.

#2084 Merger `staging` into `merge-async`
  .circleci/check_pr_status.sh
  .circleci/config.yml
  .github/workflows/e2e-subtensor-tests.yaml
  bittensor/__init__.py
  bittensor/axon.py
  bittensor/btlogging/loggingmachine.py
  bittensor/chain_data.py
  bittensor/commands/list.py
  bittensor/commands/network.py
  bittensor/commands/register.py
  bittensor/commands/utils.py
  bittensor/constants.py
  bittensor/extrinsics/network.py
  bittensor/utils/axon_utils.py
  requirements/prod.txt
  tests/e2e_tests/conftest.py
  tests/e2e_tests/multistep/test_axon.py
  tests/e2e_tests/multistep/test_dendrite.py
  tests/e2e_tests/multistep/test_emissions.py
  tests/e2e_tests/multistep/test_incentive.py
  tests/e2e_tests/subcommands/hyperparams/__init__.py
  tests/e2e_tests/subcommands/hyperparams/test_liquid_alpha.py
  tests/e2e_tests/subcommands/register/__init__.py
  tests/e2e_tests/subcommands/register/tests_swap_hotkey.py
  tests/e2e_tests/subcommands/stake/test_stake_show.py
  tests/e2e_tests/subcommands/wallet/test_faucet.py
  tests/e2e_tests/subcommands/weights/test_commit_weights.py
  tests/e2e_tests/utils.py
  tests/integration_tests/test_cli.py
  tests/integration_tests/test_cli_no_network.py
  tests/unit_tests/test_axon.py
Labels: bittensor, async migration

#2090 Fix e2e tests
  tests/e2e_tests/conftest.py
  tests/e2e_tests/multistep/test_axon.py
  tests/e2e_tests/multistep/test_dendrite.py
  tests/e2e_tests/multistep/test_incentive.py
  tests/e2e_tests/subcommands/hyperparams/test_liquid_alpha.py
  tests/e2e_tests/subcommands/stake/test_stake_show.py
  tests/e2e_tests/utils.py
Labels: bittensor, testing, async migration

#2095 Fix async test
  bittensor/utils/registration.py
  bittensor/wallet.py
  tests/e2e_tests/multistep/test_emissions.py
  tests/e2e_tests/subcommands/hyperparams/test_liquid_alpha.py
  tests/e2e_tests/subcommands/wallet/test_faucet.py
Labels: bittensor, testing, async migration

#2123 Merget staging into merge-async for the task https://github.com/opentensor/KnowledgeBase/issues/69
  .github/workflows/e2e-subtensor-tests.yaml
  VERSION
  bittensor/__init__.py
  tests/e2e_tests/conftest.py
  tests/e2e_tests/subcommands/wallet/test_faucet.py
  tests/helpers/__init__.py
Labels: bittensor, testing, refactoring, async migration

#2133 Return the metagraph to the style of use familiar to users
  bittensor/__init__.py
  bittensor/commands/metagraph.py
  bittensor/commands/root.py
  bittensor/metagraph.py
  bittensor/subtensor.py
  bittensor/utils/__init__.py
  bittensor/utils/weight_utils.py
  tests/e2e_tests/multistep/test_axon.py
  tests/e2e_tests/multistep/test_dendrite.py
  tests/e2e_tests/multistep/test_incentive.py
  tests/e2e_tests/subcommands/register/tests_swap_hotkey.py
  tests/e2e_tests/utils.py
  tests/integration_tests/test_metagraph_integration.py
  tests/unit_tests/test_metagraph.py
Labels: feature, bittensor, refactoring, async migration

#2136 Backmerge master -> staging
  .circleci/config.yml
  .github/workflows/release.yml
  CHANGELOG.md
  VERSION
  bittensor/__init__.py
  bittensor/chain_data.py
  bittensor/cli.py
  bittensor/commands/__init__.py
  bittensor/commands/check_coldkey_swap.py
  bittensor/subtensor.py
  bittensor/utils/formatting.py
  tests/e2e_tests/multistep/test_axon.py
  tests/e2e_tests/multistep/test_dendrite.py
  tests/e2e_tests/multistep/test_incentive.py
  tests/e2e_tests/subcommands/weights/test_commit_weights.py
  tests/e2e_tests/utils.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor, do not merge

#2137 Merge staging -> staging-async
  .circleci/config.yml
  .github/workflows/release.yml
  CHANGELOG.md
  VERSION
  bittensor/__init__.py
  bittensor/chain_data.py
  bittensor/cli.py
  bittensor/commands/__init__.py
  bittensor/commands/check_coldkey_swap.py
  bittensor/subtensor.py
  bittensor/utils/formatting.py
  bittensor/utils/registration.py
  tests/e2e_tests/multistep/test_dendrite.py
  tests/e2e_tests/utils.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor, async migration

#2147 Merge staging -> staging-async
  .github/workflows/e2e-subtensor-tests.yaml
  bittensor/commands/check_coldkey_swap.py
  bittensor/commands/metagraph.py
  bittensor/commands/network.py
  bittensor/commands/wallets.py
  bittensor/mock/subtensor_mock.py
  bittensor/wallet.py
  tests/e2e_tests/subcommands/subnet/__init__.py
  tests/e2e_tests/subcommands/subnet/test_metagraph.py
  tests/integration_tests/test_subtensor_integration.py
Labels: bittensor, async migration

#2158 Ruff complains about an extra line
  bittensor/subtensor.py
Labels: bug, bittensor

#2186 Fix multiprocessing POW errors and No Torch logging errors
  bittensor/utils/registration.py
  tests/unit_tests/utils/test_registration.py
Labels: bug

#2191 Part1: Removing content related to the wallet. Start use the pip installable package.
  bittensor/__init__.py
  bittensor/axon.py
  bittensor/btlogging/loggingmachine.py
  bittensor/config.py
  bittensor/errors.py
  bittensor/keyfile.py
  bittensor/mock/subtensor_mock.py
  bittensor/wallet.py
  requirements/prod.txt
  tests/e2e_tests/__init__.py
  tests/e2e_tests/conftest.py
  tests/e2e_tests/multistep/__init__.py
  tests/e2e_tests/multistep/test_axon.py
  tests/e2e_tests/multistep/test_dendrite.py
  tests/e2e_tests/multistep/test_emissions.py
  tests/e2e_tests/multistep/test_incentive.py
  tests/e2e_tests/multistep/test_last_tx_block.py
  tests/e2e_tests/subcommands/__init__.py
  tests/e2e_tests/subcommands/delegation/__init__.py
  tests/e2e_tests/subcommands/delegation/test_set_delegate_take.py
  tests/e2e_tests/subcommands/hyperparams/__init__.py
  tests/e2e_tests/subcommands/hyperparams/test_liquid_alpha.py
  tests/e2e_tests/subcommands/register/__init__.py
  tests/e2e_tests/subcommands/register/test_swap_hotkey.py
  tests/e2e_tests/subcommands/root/__init__.py
  tests/e2e_tests/subcommands/root/test_root_delegate_list.py
  tests/e2e_tests/subcommands/root/test_root_register_add_member_senate.py
  tests/e2e_tests/subcommands/root/test_root_senate_vote.py
  tests/e2e_tests/subcommands/root/test_root_view_proposal.py
  tests/e2e_tests/subcommands/stake/__init__.py
  tests/e2e_tests/subcommands/stake/test_stake_add_remove.py
  tests/e2e_tests/subcommands/stake/test_stake_show.py
  tests/e2e_tests/subcommands/subnet/__init__.py
  tests/e2e_tests/subcommands/subnet/test_metagraph.py
  tests/e2e_tests/subcommands/wallet/__init__.py
  tests/e2e_tests/subcommands/wallet/test_faucet.py
  tests/e2e_tests/subcommands/wallet/test_transfer.py
  tests/e2e_tests/subcommands/wallet/test_wallet_creations.py
  tests/e2e_tests/subcommands/weights/__init__.py
  tests/e2e_tests/subcommands/weights/test_commit_weights.py
  tests/e2e_tests/utils.py
  tests/integration_tests/test_cli.py
  tests/unit_tests/extrinsics/test_delegation.py
  tests/unit_tests/extrinsics/test_network.py
  tests/unit_tests/extrinsics/test_prometheus.py
  tests/unit_tests/extrinsics/test_registration.py
  tests/unit_tests/extrinsics/test_serving.py
  tests/unit_tests/test_keyfile.py
  tests/unit_tests/test_wallet.py
Labels: bittensor
