Repository opentensor/bittensor, pull requests merged in 2024-12, with the labels that each got.

#2484 [SDK] Add `commit reveal v3` logic (python part only)
  bittensor/core/async_subtensor.py
  bittensor/core/extrinsics/commit_reveal.py
  bittensor/core/extrinsics/set_weights.py
  bittensor/core/subtensor.py
  requirements/prod.txt
  tests/e2e_tests/test_commit_reveal_v3.py
  tests/e2e_tests/test_commit_weights.py
  tests/e2e_tests/utils/chain_interactions.py
  tests/unit_tests/extrinsics/test_commit_reveal.py
  tests/unit_tests/test_async_subtensor.py
  tests/unit_tests/test_dendrite.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor, do not merge, testing

#2538 Release/8.5.0
  CHANGELOG.md
  VERSION
  bittensor/__init__.py
  bittensor/core/async_subtensor.py
  bittensor/core/extrinsics/commit_reveal.py
  bittensor/core/extrinsics/set_weights.py
  bittensor/core/metagraph.py
  bittensor/core/settings.py
  bittensor/core/subtensor.py
  bittensor/utils/async_substrate_interface.py
  bittensor/utils/btlogging/format.py
  requirements/prod.txt
  scripts/check_pre_submit.sh
  tests/e2e_tests/conftest.py
  tests/e2e_tests/test_commit_reveal_v3.py
  tests/e2e_tests/test_commit_weights.py
  tests/e2e_tests/utils/chain_interactions.py
  tests/unit_tests/extrinsics/test_commit_reveal.py
  tests/unit_tests/test_async_subtensor.py
  tests/unit_tests/test_dendrite.py
  tests/unit_tests/test_subtensor.py
Labels: RELEASE

#2548 Release/8.5.1
  CHANGELOG.md
  VERSION
  bittensor/core/async_subtensor.py
  bittensor/core/errors.py
  bittensor/core/extrinsics/async_weights.py
  bittensor/core/extrinsics/commit_reveal.py
  bittensor/core/settings.py
  bittensor/core/subtensor.py
  bittensor/utils/axon_utils.py
  tests/unit_tests/extrinsics/test_async_weights.py
  tests/unit_tests/extrinsics/test_commit_reveal.py
  tests/unit_tests/test_subtensor.py
Labels: RELEASE

#2553 [SDK] Handle server connection limit
  bittensor/core/subtensor.py
  tests/unit_tests/test_subtensor.py
Labels: enhancement, bittensor, testing

#2558 [SDK] Improve InvalidStatus handler
  bittensor/core/subtensor.py
Labels: bittensor

#2560 [SDK] Add async version of commit reveal v3
  bittensor/core/async_subtensor.py
  bittensor/core/extrinsics/async_commit_reveal.py
  bittensor/core/subtensor.py
  tests/unit_tests/extrinsics/test_async_commit_reveal.py
  tests/unit_tests/test_async_subtensor.py
Labels: bittensor, testing, async migration
