Repository opentensor/bittensor, pull requests merged in 2024-05, with the labels that each got.

#1849 Change: console.error => console.print
  bittensor/extrinsics/registration.py
Labels: bug

#1854 Small fix with receiving delegates based on a 4-hour archive block
  bittensor/commands/delegates.py
Labels: bug, bittensor

#1786 Replace torch with numpy
  Dockerfile
  README.md
  VERSION
  bittensor/__init__.py
  bittensor/chain_data.py
  bittensor/commands/register.py
  bittensor/commands/root.py
  bittensor/commands/utils.py
  bittensor/dendrite.py
  bittensor/extrinsics/registration.py
  bittensor/extrinsics/root.py
  bittensor/extrinsics/set_weights.py
  bittensor/metagraph.py
  bittensor/subtensor.py
  bittensor/tensor.py
  bittensor/threadpool.py
  bittensor/utils/__init__.py
  bittensor/utils/registration.py
  bittensor/utils/weight_utils.py
  requirements/cubit.txt
  requirements/dev.txt
  requirements/prod.txt
  requirements/torch.txt
  scripts/environments/README.md
  setup.py
  tests/integration_tests/test_metagraph_integration.py
  tests/unit_tests/test_chain_data.py
  tests/unit_tests/test_metagraph.py
  tests/unit_tests/test_synapse.py
  tests/unit_tests/test_tensor.py
  tests/unit_tests/utils/test_utils.py
  tests/unit_tests/utils/test_weight_utils.py
Labels: bittensor

#1862 Retrieving error types from the metadata of the Substrate palette "SubtensorModule" for the btcli console (logic)
  bittensor/__init__.py
  bittensor/subtensor.py
  bittensor/utils/subtensor.py
  tests/unit_tests/test_subtensor.py
  tests/unit_tests/utils/test_subtensor.py
Labels: feature, bittensor

#1886 fix: deprecated usage of `Balances::transfer` method
  bittensor/subtensor.py
Labels: bug

#1895 Fix Type Annotation
  bittensor/commands/inspect.py
Labels: bug

#1896 bittensor.btlogging refactoring
  bittensor/btlogging/__init__.py
  bittensor/btlogging/defines.py
  bittensor/btlogging/format.py
  bittensor/btlogging/helpers.py
  bittensor/btlogging/loggingmachine.py
  bittensor/extrinsics/delegation.py
  bittensor/extrinsics/prometheus.py
  bittensor/extrinsics/root.py
  bittensor/extrinsics/serving.py
  bittensor/extrinsics/set_weights.py
Labels: bittensor, refactoring

#1911 Part 1 for refactoring bittensor/subtensor.py
  bittensor/subtensor.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor, refactoring

#1889 Update: Pydantic V2
  README.md
  bittensor/axon.py
  bittensor/dendrite.py
  bittensor/stream.py
  bittensor/synapse.py
  bittensor/tensor.py
  requirements/prod.txt
  scripts/environments/apple_m1_environment.yml
  tests/unit_tests/test_dendrite.py
  tests/unit_tests/test_synapse.py
Labels: enhancement, bittensor

#1914 fix: sufix runtime error
  bittensor/extrinsics/delegation.py
Labels: bug

#1818 Require required hash fields (security improvement)
  bittensor/axon.py
  bittensor/synapse.py
  tests/unit_tests/test_synapse.py
Labels: do not merge

#1913 refactoring/roman/subtensor-part-2
  bittensor/extrinsics/serving.py
  bittensor/subtensor.py
Labels: bittensor, refactoring

#1923 Part 3 for refactoring bittensor/subtensor.py
  bittensor/subtensor.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor, refactoring

#1934 Part 5 for refactoring bittensor/subtensor.py
  bittensor/subtensor.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor, refactoring

#1935 Part 6 for refactoring bittensor/subtensor.py - class CamelCase
  bittensor/__init__.py
  bittensor/mock/subtensor_mock.py
  bittensor/subtensor.py
  bittensor/utils/wallet_utils.py
  tests/integration_tests/test_cli_no_network.py
  tests/integration_tests/test_subtensor_integration.py
  tests/unit_tests/extrinsics/test_delegation.py
  tests/unit_tests/extrinsics/test_network.py
  tests/unit_tests/extrinsics/test_prometheus.py
  tests/unit_tests/extrinsics/test_registration.py
  tests/unit_tests/extrinsics/test_root.py
  tests/unit_tests/extrinsics/test_serving.py
  tests/unit_tests/test_subtensor.py
Labels: bittensor, refactoring

#1945 Bug: Remove legacy Pydantic references
  bittensor/synapse.py
  tests/unit_tests/test_axon.py
  tests/unit_tests/test_dendrite.py
  tests/unit_tests/test_synapse.py
Labels: bug, bittensor

#1951 Clean up the imports in commands/stake.py
  bittensor/commands/stake.py
Labels: bittensor

#1952 Fix E2E test for Commit/Reveal with Salt flag
  bittensor/commands/weights.py
  tests/e2e_tests/subcommands/weights/test_commit_weights.py
Labels: bug, testing

#1955 `bittensor.chain_data.py` module refactoring.
  bittensor/chain_data.py
  bittensor/commands/overview.py
  bittensor/mock/subtensor_mock.py
  bittensor/subtensor.py
  tests/integration_tests/test_subtensor_integration.py
Labels: bittensor, refactoring

#1915 ci: e2e tests
  .github/workflows/e2e-subtensor-tests.yaml
Labels: testing
